#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  flex-direction: column;
  justify-content: space-evenly;
}

body {
  font-family:Georgia, 'Times New Roman', Times, serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

h2 {
  margin-top: 20;
  margin-bottom: 20px;
  color: #61dcbb;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-right: 10px;
  padding: 8px;
}

input {
  padding: 8px;
  margin-bottom: 15px;
  margin-left: 10px;
  border: 1px solid #61dcbb;
  border-radius: 5px;
  font-size: 16px;
}

button {
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #52a477;
}

.error {
  color: rgb(211, 56, 56);
  font-size: 15px;
}